<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light"
    data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> ИРИДА </title>
    <meta name="Description" content="Project Irirda">
    <meta name="Author" content="Gimas 2000">
    <meta name="keywords"
        content="education">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/brand-logos/favicon.ico.png' %}" type="image/x-icon">

    <!-- Main Theme Js -->
    <script src="{% static 'js/authentication-main.js' %}"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Start Switcher -->
    {% include 'main/switcher.html' %}
    <!-- End Switcher -->

    <div class="page error-bg" id="particles-js">
        <!-- Start::error-page -->
        <div class="error-page">
           <div class="container">
            <div class=" p-5 my-auto d-flex justify-content-center">
                <div class="col-10">
                    <div class="my-5 d-flex justify-content-center">
                        <a href="index.html">
                            <img src="{% static 'images/brand-logos/desktop-logo.png' %}" alt="logo" class="desktop-logo">
                        </a>
                    </div>
                    <div class="card-1 custom-card">
                        <div class="card-body p-5">
                            <div class="block-password">
                                <p class="h5 fw-semibold mb-2 text-center">Въведете съобщение</p>
                            </div>
                            <!-- templates/auth/login.html -->
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                {% if next %}
                                    <input type="hidden" name="next" value="{{ next }}">
                                {% endif %}

                                <div class="row gy-3">
                                    <div class="col-xl-12">
                                        <label for="content" class="form-label">Съобщение</label>
                                        <textarea id="content"
                                                  name="content"
                                                  class="form-control"
                                                  rows="14"
                                                  placeholder="Напишете съобщение..." style="border-radius: 20px;"></textarea>
                                    </div>

                                    <div class="col-xl-12 d-grid mt-5">
                                        <button type="submit" class="btn-1 white text-center">Вход</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Custom-Switcher JS -->
    <script src="{% static 'js/custom-switcher.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Show Password JS -->
    <script src="{% static 'js/show-password.js' %}"></script>

        <!-- Particles JS -->
    <script src="{% static 'libs/particles.js/particles.js' %}"></script>
        <!-- Error JS -->
    <script src="{% static 'js/error.js' %}"></script>

</body>

</html>