{% extends 'main/common.html' %}
{% load static %}

{% block content %}
                    <div class="col-10">
                        <div class="mt-5 d-flex justify-content-center">
                            <a href="{% url 'logout' %}">
                                <img src="{% static 'images/brand-logos/crypto.png' %}" alt="logo" class="desktop-logo">
                            </a>
                        </div>
                        <div class="card-1 custom-card">
                            <div class="card-body p-5">
                                {% if error %}
                                    <!-- Ако съобщението е изтрито или линкът е счупен -->
                                    <div class="alert alert-danger">
                                        <h2>Опа!</h2>
                                        <p>{{ error_msg }}</p>
                                    </div>
                                {% else %}
                                    <!-- Ако съобщението е декриптирано успешно -->
                                    <div class="alert alert-success">
                                        <h2>Внимание!</h2>
                                        <p>Това съобщение току-що бе унищожено от сървъра. Ако затворите тази страница, няма да можете да го прочетете отново.</p>
                                    </div>

                                    <div class="card mt-4">
                                        <div class="card-header">Тайно съобщение:</div>
                                        <div class="card-body">
                                            <!-- Извеждаме декриптирания текст -->
                                            <p class="lead">{{ secret_message }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
{% endblock %}
